#kodalog{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 110%;
    left: 0%;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 100%;
    transition: 350ms;
}

#kodalog.acik{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    z-index: 500;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.95);
}

#kodalog h2{
    margin: 20px;
    color: #222;
}
#kodalog #console{
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 0px 10px;
    border-top: 1px solid #aaa;
}

#kodalog ul li{
    border-bottom: 1px solid #aaa;
    padding: 5px 10px;
}

#kodalog ul li span{
    width: 50%; 
}

#dragdrop{
    top: 10px;
    right: 10px;
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    z-index: 600;
    background-image: url(http://icons.iconarchive.com/icons/kxmylo/simple/512/utilities-system-monitor-icon.png);
    background-size: cover;
    background-position: center;
    transition: 150ms;
}
#dragdrop:after{
    content: attr(data-sayi);
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ff1e1e;
    color: #fff0f0;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

#dragdrop.acik{
    position: absolute;
    top: 10px;
    right: 10px;

}

#dragdrop:focus{
    transform: scale(0.8);
}